body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  min-width: 600px;
}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.wrapper-inner {
  min-width: 600px;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px auto;
  box-sizing: border-box;
}
.slicknav_menu {
  display: none;
}
header {
  margin-bottom: 8px;
}
header .logo-text {
  float: left;
  width: 46%;
  height: 80px;
}
header .logo-text .logo {
  float: left;
}
header .logo-text .logo-title {
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
  float: left;
  margin-left: 30px;
  margin-top: 16px;
}
header .logo-text .logo-title-under {
  float: left;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  font-style: italic;
  margin-left: 30px;
  margin-top: 4px;
}
header .phone-menu {
  float: right;
  text-align: left;
  width: 41%;
  min-width: 541px;
}
header .phone-menu .callback-form {
  line-height: 36px;
  position: relative;
}
header .phone-menu .callback-form .phone-number {
  display: inline-block;
  font-size: 27px;
  font-weight: 700;
  padding-left: 40px;
  background: url('../image/header-phone-icon.png') no-repeat 16px 9px;
}
header .phone-menu .callback-form .callbackbtn {
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  background: #ff1011;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  padding: 7px 14px;
  position: absolute;
  top: 6px;
  left: 273px;
  cursor: pointer;
}
header .phone-menu .callback-form .callbackbtn:hover {
  background: #eb0000;
}
header .phone-menu .callback-form .callbackbtn:active {
  background: #d70000;
}
header .phone-menu nav {
  float: right;
}
header .phone-menu .top-menu {
  margin-top: 10px;
}
header .phone-menu .top-menu li {
  display: inline-block;
  border-bottom: 1px dashed #000000;
  padding-bottom: 3px;
  margin-right: 24px;
}
header .phone-menu .top-menu li:last-child {
  margin-right: 0px;
}
header .phone-menu .top-menu li:hover {
  border-bottom: none;
}
header .phone-menu .top-menu li a {
  font-size: 17px;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
}
main .block-title {
  position: relative;
  height: 90px;
  text-align: center;
}
main .block-title li {
  display: inline-block;
}
main .block-title .title {
  position: relative;
  margin: 0 16px;
  top: 10px;
  font-size: 41px;
  line-height: 91px;
  font-weight: 800;
}
main .block-title .title-border {
  border-bottom: 3px solid #ed1c24;
  width: 8.5%;
  marginbottom: 10px;
}
main .text-main {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: justify;
}
main .wrapper-outer-top-pic {
  background: url('../image/toppicbg.jpg') 40% 0;
}
main .wrapper-outer-top-pic .top-pic {
  vertical-align: middle;
  height: 630px;
  margin-bottom: 2px;
}
main .wrapper-outer-top-pic .top-pic:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 26%;
}
main .wrapper-outer-top-pic .top-pic p {
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 62px;
  line-height: 91px;
}
main .wrapper-outer-top-pic .top-pic p span {
  font-weight: 800;
}
main .wrapper-outer-aboutus .aboutus-text-container {
  margin-top: 35px;
  margin-bottom: 50px;
}
main .wrapper-outer-aboutus .aboutus-text-container .col-left {
  float: left;
  width: 54%;
}
main .wrapper-outer-aboutus .aboutus-text-container .col-right {
  float: right;
  width: 42%;
  text-align: center;
}
main .wrapper-outer-aboutus .aboutus-text-container .col-right img {
  margin-top: -7px;
  width: 100%;
  max-width: 320px;
}
main .wrapper-outer-example {
  padding-top: 40px;
  background: #f1f1f1 url('../image/example-bg.jpg');
}
main .wrapper-outer-example .example-text-container {
  margin-top: 34px;
  padding-bottom: 115px;
}
main .wrapper-outer-example .example-text-container .col-left {
  width: 53.5%;
  float: left;
}
main .wrapper-outer-example .example-text-container .col-right {
  width: 42.2%;
  float: right;
}
main .wrapper-outer-example .example-text-container .col-right .example-form {
  margin-top: 72px;
}
main .wrapper-outer-example .example-text-container .col-right .example-form .example-form-title {
  font-size: 25px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 18px;
}
main .wrapper-outer-example .example-text-container .col-right .example-form input[type='text'] {
  position: relative;
  border: none;
  font-size: 14px;
  color: 636363;
  border-radius: 7px;
  width: 185px;
  padding: 14px 15px 12px 30px;
  margin-right: 14px;
  background: #ffffff url('../image/phone-icon.png') no-repeat 14px 16px;
  margin-bottom: 20px;
}
main .wrapper-outer-example .example-text-container .col-right .example-form .example-form-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: #ff1011;
  border-radius: 7px;
  border: none;
  text-transform: uppercase;
  padding: 10px 67px;
  cursor: pointer;
}
main .wrapper-outer-example .example-text-container .col-right .example-form .example-form-button:hover {
  background: #eb0000;
}
main .wrapper-outer-example .example-text-container .col-right .example-form .example-form-button:active {
  background: #d70000;
}
main .wrapper-outer-tariffs {
  background: url('../image/tariffs-bg.jpg') no-repeat;
  padding-top: 73px;
  padding-bottom: 160px;
}
main .wrapper-outer-tariffs .block-title {
  color: #ffffff;
}
main .wrapper-outer-tariffs .tariffs-container {
  position: relative;
  margin-top: 80px;
}
main .wrapper-outer-tariffs .tariffs-container .col-left {
  padding-bottom: 36px;
  width: 44%;
  background-color: #ffffff;
  float: left;
  position: absolute;
  bottom: 0;
  left: 4%;
}
main .wrapper-outer-tariffs .tariffs-container .col-right {
  padding-bottom: 36px;
  width: 44%;
  background-color: #ffffff;
  float: right;
  margin-right: 4%;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .tariff-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0 20px 0px;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .tariff-features {
  padding-left: 61px;
  padding-right: 20px;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .tariff-features li {
  font-size: 14px;
  line-height: 27px;
  position: relative;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .tariff-features li:before {
  content: '';
  width: 18px;
  height: 15px;
  background: url('../image/tick.png') no-repeat;
  display: block;
  position: absolute;
  top: 7px;
  left: -22px;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .tariff-price {
  font-size: 28px;
  text-align: center;
  margin: 22px 0px;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .button-container {
  text-align: center;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .button-container .tariff-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: #ff1011;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  padding: 10px 67px;
  cursor: pointer;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .button-container .tariff-button:hover {
  background: #eb0000;
}
main .wrapper-outer-tariffs .tariffs-container .tariff-item .button-container .tariff-button:active {
  background: #d70000;
}
main .wrapper-outer-cinemas .cinemas {
  margin-top: 50px;
  margin-bottom: 40px;
}
main .wrapper-outer-cinemas .text-main {
  margin-top: 35px;
}
main .wrapper-outer-map #map {
  width: 100%;
  height: 730px;
}
main .wrapper-outer-questions {
  background: url('../image/questions-bg.jpg');
}
main .wrapper-outer-questions .questions {
  padding-top: 55px;
  padding-bottom: 80px;
}
main .wrapper-outer-questions .questions .block-title {
  margin-bottom: 53px;
}
main .wrapper-outer-questions .questions .col-left {
  width: 50%;
  float: left;
  margin-left: 6.9%;
  text-align: center;
}
main .wrapper-outer-questions .questions .col-left .call-us {
  font-size: 30px;
  font-weight: 700;
}
main .wrapper-outer-questions .questions .col-left .phone-number {
  font-size: 44px;
  color: #ed1c24;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 450px;
  background: url('../image/quest-phone-icon.png') no-repeat 13px;
}
main .wrapper-outer-questions .questions .col-left .under {
  width: 384px;
  margin-left: auto;
  margin-right: auto;
  line-height: 23px;
  margin-top: 37px;
  font-size: 20px;
  font-style: italic;
}
main .wrapper-outer-questions .questions .col-right {
  width: 38.8%;
  float: right;
}
main .wrapper-outer-questions .questions .col-right:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
main .wrapper-outer-questions .questions .col-right .questions-form {
  display: inline-block;
  vertical-align: middle;
}
main .wrapper-outer-questions .questions .col-right .questions-form #questions-form-name {
  margin-top: 25px;
  margin-bottom: 17px;
  display: block;
  position: relative;
  border: none;
  font-size: 14px;
  color: 636363;
  border-radius: 7px;
  width: 270px;
  padding: 14px 15px 12px 30px;
  margin-right: 14px;
  background: #ffffff url('../image/person-icon.png') no-repeat 12px 16px;
}
main .wrapper-outer-questions .questions .col-right .questions-form #questions-form-phone {
  margin-bottom: 21px;
  display: block;
  position: relative;
  border: none;
  font-size: 14px;
  color: 636363;
  border-radius: 7px;
  width: 270px;
  padding: 14px 15px 12px 30px;
  margin-right: 14px;
  background: #ffffff url('../image/phone-icon.png') no-repeat 12px 16px;
}
main .wrapper-outer-questions .questions .col-right .questions-form #questions-form-button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background: #ff1011;
  border-radius: 5px;
  border: none;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
}
main .wrapper-outer-questions .questions .col-right .questions-form #questions-form-button:hover {
  background: #eb0000;
}
main .wrapper-outer-questions .questions .col-right .questions-form #questions-form-button:active {
  background: #d70000;
}
footer .wrapper-outer-copyright .wrapper-inner {
  padding: 62px 0 60px 0;
}
footer .wrapper-outer-copyright .wrapper-inner .col-left .copyright {
  font-size: 26px;
  font-weight: 300;
  text-transform: uppercase;
}
footer .wrapper-outer-copyright .wrapper-inner .col-left .copyright-under {
  font-size: 17px;
  font-weight: 300;
  font-style: italic;
  margin-top: 5px;
  margin-left: 30px;
}
@media screen and (max-width: 1068px) {
  header .logo-text {
    float: none;
    width: 45%;
    min-width: 455px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  header .logo-text .logo {
    margin-right: 10px;
  }
  header .logo-text .logo-title {
    float: none;
  }
  header .logo-text .logo-title-under {
    float: none;
  }
  header .phone-menu {
    float: none;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
  }
  header .phone-menu .callback-form .phone-number {
    margin-left: 80px;
  }
  header .phone-menu .callback-form .callbackbtn {
    left: 360px;
  }
  header .phone-menu .callback-form .top-menu {
    margin-left: 0px;
  }
  main .wrapper-outer-top-pic .top-pic {
    height: 100%;
    font-size: 54px;
    margin-top: 20px;
  }
  main .wrapper-outer-questions .questions {
    padding-top: 55px;
    padding-bottom: 80px;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-left {
    margin-left: 5%;
  }
}
@media screen and (max-width: 904px) {
  main .wrapper-outer-questions .questions .questions-text-container .col-left {
    margin-left: 3%;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-left .phone-number {
    margin-left: -1%;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-right {
    width: 43%;
  }
}
@media screen and (max-width: 768px) {
  header .slicknav_menu {
    display: block;
    min-height: 75px;
  }
  header .slicknav_nav {
    margin-top: 75px;
  }
  header .slicknav_btn {
    padding: 0.8em 0.625em;
    margin: 14px 11px 10px;
  }
  header .logo-text {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 70%;
    padding: 0px;
    width: 470px;
  }
  header .phone-menu {
    width: 100%;
  }
  header .phone-menu .callback-form {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  header .phone-menu .callback-form .phone-number {
    font-size: 36px;
    margin-left: -1%;
  }
  header .phone-menu .callback-form .callbackbtn {
    font-size: 20px;
    padding: 14px 14px;
    top: -11px;
    left: 60%;
  }
  header .phone-menu .top-menu {
    display: none;
  }
  main .block-title .title {
    position: relative;
    margin: 0 15px;
    top: 10px;
    font-size: 41px;
    line-height: 91px;
    font-weight: 800;
  }
  main .block-title .title-border {
    border-bottom: 3px solid #ed1c24;
    width: 5%;
    marginbottom: 10px;
  }
  main .wrapper-outer-top-pic {
    text-align: center;
  }
  main .wrapper-outer-top-pic .top-pic {
    height: 100%;
    font-size: 48px;
  }
  main .wrapper-outer-top-pic .top-pic p {
    margin-top: -60px;
  }
  main .wrapper-outer-aboutus .aboutus-text-container .col-left {
    float: none;
    width: 100%;
  }
  main .wrapper-outer-aboutus .aboutus-text-container .col-right {
    float: none;
    width: 100%;
    text-align: center;
  }
  main .wrapper-outer-aboutus .aboutus-text-container .col-right img {
    width: 100%;
  }
  main .wrapper-outer-example .example-text-container .col-left {
    width: 100%;
    float: none;
    margin-bottom: 20px;
    text-align: center;
  }
  main .wrapper-outer-example .example-text-container .col-right {
    width: 100%;
    float: none;
    padding: 0;
  }
  main .wrapper-outer-example .example-text-container .col-right .example-form {
    text-align: center;
  }
  main .wrapper-outer-tariffs .tariffs-container .col-left {
    width: 90%;
    padding: 3% 5%;
    float: none;
    position: static;
    margin-bottom: 30px;
  }
  main .wrapper-outer-tariffs .tariffs-container .col-right {
    width: 90%;
    padding: 3% 5%;
    float: none;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-left {
    width: 100%;
    float: none;
    margin: 0 auto;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-left .call-us {
    margin-top: -35px;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-left .phone-number {
    margin: 30px auto;
  }
  main .wrapper-outer-questions .questions .questions-text-container .col-right {
    width: 50%;
    float: none;
    margin: 0 auto;
    text-align: center;
  }
}
